img{
    border-radius: 30px;
   width: 50%;
   height: 20%
}
#button-spacing{
    margin-bottom: 40px;
}

#passion{
    color: aqua;
    text-decoration-color: blueviolet;
}
.container mt-5{
    margin: 20px auto;


}

.separated-footer{
    margin-top: 40px;

}